[submodule "security/lib/forge-std"]
	path = security/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "security/basic-solc-project/lib/forge-std"]
	path = security/basic-solc-project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "assembly-horse-store/lib/forge-std"]
	path = assembly-horse-store/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "cyfrin/assembly-horse-store/lib/foundry-huff"]
	path = cyfrin/assembly-horse-store/lib/foundry-huff
	url = https://github.com/huff-language/foundry-huff
[submodule "cyfrin/assembly-horse-store/lib/openzeppelin-contracts"]
	path = cyfrin/assembly-horse-store/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "cyfrin/assembly-horse-store/lib/huffmate"]
	path = cyfrin/assembly-horse-store/lib/huffmate
	url = https://github.com/huff-language/huffmate
[submodule "account-abstraction/lib/foundry-era-contracts"]
	path = account-abstraction/lib/foundry-era-contracts
	url = https://github.com/Cyfrin/foundry-era-contracts
[submodule "account-abstraction/lib/openzeppelin-contracts"]
	path = account-abstraction/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "account-abstraction/lib/account-abstraction"]
	path = account-abstraction/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "account-abstraction/lib/forge-std"]
	path = account-abstraction/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "zksync-sepolia-deployment/lib/forge-std"]
	path = zksync-sepolia-deployment/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "cross-chain-rebase-token/lib/forge-std"]
	path = cross-chain-rebase-token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "cross-chain-rebase-token/lib/openzeppelin-contracts"]
	path = cross-chain-rebase-token/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "soldeer/lib/forge-std"]
	path = soldeer/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "cross-chain-rebase-token/lib/ccip"]
	path = cross-chain-rebase-token/lib/ccip
	url = https://github.com/smartcontractkit/ccip
[submodule "cross-chain-rebase-token/lib/ccip.git"]
	path = cross-chain-rebase-token/lib/ccip.git
	url = https://github.com/smartcontractkit/ccip.git
[submodule "cross-chain-rebase-token/lib/chainlink-local"]
	path = cross-chain-rebase-token/lib/chainlink-local
	url = https://github.com/smartcontractkit/chainlink-local
[submodule "merkle-airdrop/lib/openzeppelin-contracts"]
	path = merkle-airdrop/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "merkle-airdrop/lib/murky"]
	path = merkle-airdrop/lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "merkle-airdrop/lib/forge-std"]
	path = merkle-airdrop/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "practise/lib/forge-std"]
	path = practise/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "practise/dependencies/openzeppelin-contracts"]
	path = practise/dependencies/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "practise/dependencies/foundry-huff"]
	path = practise/dependencies/foundry-huff
	url = https://github.com/huff-language/foundry-huff
[submodule "examples/lib/forge-std"]
	path = examples/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "examples/lib/openzeppelin-contracts"]
	path = examples/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
